/* Comment out any option you don't want to use with /* option */
/* To comment out something press Ctrl + (/ or ?) */

/* ----------------------------------------------------------- */
/*                           Chat                              */
/* ----------------------------------------------------------- */

/* Send a Gift option in chat */
button[aria-label="Send a gift"],

/* Button to open the Apps menu */
button[aria-label="Apps"],

/* ----------------------------------------------------------- */
/*                        Apps Menu                            */
/* ----------------------------------------------------------- */

/* "Promoted Games" section in the Apps menu */
section[aria-label="Application Launcher"] div:has(> div[class*="sectionTwoColumnContentContainer"]),

/* ----------------------------------------------------------- */
/*                      Direct Messages                        */
/* ----------------------------------------------------------- */

/* Discord Nitro button */
ul[aria-label="Direct Messages"] li:has(a[href="/store"]),

/* Discord's Birthday button (Not your birthday :c )*/
ul[aria-label="Direct Messages"] li:has(a[href = "/activities"]),

/* Profile Effect shop */
ul[aria-label="Direct Messages"] li:has(a[href = "/shop"]),

/* "Play Again" Activity list*/ 
/* (TODO: Make this more resilient)  */
ul[aria-label="Direct Messages"] div[class*="container"]:has(> h2[class*="headerContainer"] > div[class*="textContainer"] > span[class*="headerText"]),

/* ----------------------------------------------------------- */
/*                 User Profile Modal                    */
/* ----------------------------------------------------------- */

div[aria-label="User Profile Modal"] button[aria-label="Shop"],

div[aria-label="User Profile Modal"] button[class*="getPremiumButton"],

/* ----------------------------------------------------------- */
/*                Profile Customization Tab                    */
/* ----------------------------------------------------------- */

/* "Give your profile a fresh look" shop upsell */
div[id="profile-customization-tab"] div[class*="container"]:has(div[class*="artContainer"] + div[class*="mainColumn"] + button[class*="ctaButton"]),

/* Your Discord Status Icon (Online, Idle, Do Not Disturb, etc) */
div[id="profile-customization-tab"] div[class*="avatar"] circle,
div[id="profile-customization-tab"] div[class*="avatar"] rect,

/* ----------------------------------------------------------- */
div[id = "Don't remove me"]
{
  display: none!important;
}
/* ----------------------------------------------------------- */
div[id="profile-customization-tab"] div[class*="avatar"] foreignObject
{
  mask: radial-gradient(circle, white 70%, transparent 71%);
}

/* ----------------------------------------------------------- */
/*                      User Profiles                          */
/* ----------------------------------------------------------- */

/* Profile Picture Decoration */
/* Both do the job, but 2 just in-case ;) */
foreignObject[mask="url(#svg-mask-avatar-decoration-status-round-120)"],
svg[class*="avatarDecoration"],

/* Profile Effects */
div[class*="profileEffects"],

/* "Like this avatar deocration? Get your own from the shop." upsell */
/* Unknown if still works, upsell might have been an experiment */
div[class*="userProfileInner"] > [class*="containerWrapper"],

/* ----------------------------------------------------------- */
/*             Possibly Broken / Can't Test                    */
/* ----------------------------------------------------------- */

/* Removes the "Start the conversation!" message on threads */
ol[class*="scrollerInner"] > div[class*="box"],

/* Removes the "What's this?" on Spotify Listen Along */
div[class*="listeningAlong"] > div[class*="icons"] > button[aria-label="What's this?"],

/* Removes shop promotions */
div[id*="popout"] > div[class*="animatorRight"] > div > div[class*="contentNoArt"],
div[class*="shopForAllBackgroundImage"],

/* ----------------------------------------------------------- */
div[id="Don't remove me"]
{
  display: none!important;
}
/* ----------------------------------------------------------- */
/*                            Extra                            */
/* ----------------------------------------------------------- */


/* Moves the loading gif when images are loading and focused, removes the dark translucent background when loading */
div[class*="imagePlaceholderOverlay"] {  display: none!important; }
span[class*="placeholderLoadingSpinner"] { background-color: transparent!important; }
span[class*="placeholderLoadingSpinner"] > span[class*="wanderingCubes"] { top: -45%; }
/* ----------------------------------------------------------- */